// === COLORS ===
$gray-color: #F6F6F6;
$orange-color: #F9792F;
$blackdark-color: #222222;

// === FONTS ===
$text-font: "Open Sans", sans-serif;

// === SIZES ===
$header-height: 80px;
$footer-height: 360px
